.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.Navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.App-main {
  margin-top: 60px; /* Adjust based on header height */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust based on content */
}

.About {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Profile-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  margin: 15px;
  background: url('pfp.jpg') no-repeat center;
  background-size: cover;
}

.About-content h2 {
  margin: 0;
}

.Buttons button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.Social-icons {
  font-size: 24px; 
  margin: 10px;
  color: #333;
}