.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  padding: 10px 0;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 60px; 
  font-family: 'Raleway',sans-serif;
}

.Navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.App-main {
  padding-top: 100px; /* Adjust based on header height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  font-family: 'Raleway',sans-serif;
}

.About {
  display: flex;
  flex-direction: column; /* Stack children of .About vertically */
  align-items: center; /* Center children of .About horizontally */
  width: 100%; /* Full width to center content */
  margin-bottom: 2rem; /* Space between About and Projects */
}

.Profile-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  margin: 15px;
  background: url('pfp.jpg') no-repeat center;
  background-size: cover;
}

.About-content h2, .About-content h1 {
  margin-bottom: 0.5rem; /* Add some space between your name and title */
}

.Buttons button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer; /* Indicates a clickable button */
}

.Social-icons {
  font-size: 24px; 
  margin: 10px;
  margin-right: 5px;
}
.linkedin-icon {
  margin-right: 10px; 
  color: #0A66C2;
}
.github-icon{
  color: #171515;
}
.Projects {
  text-align: left;
  width: 80%; /* Adjust width to your preference */
  max-width: 800px; /* Adjust max-width for large screens */
  margin: 0 auto; /* Center the projects */
}

.Project-item {
  margin-bottom: 20px;
}

.Project-item h3 {
  color: #333;
  font-size: 1.5em;
}

.Project-item p {
  font-size: 1em;
  line-height: 1.6;
  color: #676;
}

.footer{
  font-family:'Raleway',sans-serif;
}